@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "vendor/normalize";
@import "components/sprite";

$light-color:#fff;
$acient-color:#65e496;

h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.page-main {
    background-image: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
    padding-bottom: 155px;
}

.page {
    padding-top: 161px
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 38px;
    padding-bottom: 166px;

    &__logo {
        background-image: url(../img/Logo.svg);
        display: block;
        width: 137px;
        height: 28px;
    }

    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: 'Open Sans', serif;

        &__item {
            margin-left: 22px;
            padding-bottom: 5px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;

            &:hover {
                border-bottom: 3px solid $acient-color;
            }
        }

        &__item.active {
            border-bottom: 3px solid $acient-color;
        }

        &__link {
            color: $light-color;
            text-decoration: none;
            letter-spacing: 0.5px;
        }
    }
}

.block-text {
    flex-basis: calc(93% - 500px);
    &__name {
        font-family: 'Open Sans', serif;
        font-size: 18px;
        letter-spacing: 0.85px;
        margin-bottom: 30px;
    }
    &__name-top{
        margin-top: 16px;
        margin-left: 0;
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.8px;
        margin-bottom: 40px;

        span {
            display: block;
            color: $acient-color;
            font-size: 18px;
            margin-top: 9px;
            letter-spacing: 0.9px;
        }
    }

    &_discription {
        font-family: 'Open Sans', serif;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 24px;
        letter-spacing: 0.75px;
    }
    &__btn {
        display: block;
        background-color: $acient-color;
        color: $light-color;
        text-decoration: none;
        width: 250px;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        margin-top: 48px;
        padding: 14px 0;
        letter-spacing: 0.7px;
        margin-bottom: 19px;
    }
    &__small {
        font-family: 'Open Sans', serif;
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.2px;
    }
}
.block-book{
    display: flex;
    justify-content: flex-start;
    &-demo{
        display: block;
        width: 447px;
        height: 643px;
        background-image: url(../img/book.svg);
        background-repeat: no-repeat;
        flex-basis: 500px;
    }
}
.block-author{
    display: flex;
    justify-content: space-between;
}
.block-ava {
    position: relative;
    &__svg{
        position: absolute;
        right: 0;
        z-index: -1;
    }
    &__img {
        margin-top: 45px;
        margin-right: 46px;
    }
}
.block-counter {
    display: flex;
    justify-content: space-around;
    margin-top: 182px;
    p {
        font-family: 'Open Sans', serif;
        text-align: center;
        font-size: 18px;
        span {
            font-family: 'Roboto slab', serif;
            display: block;
            font-weight: 100;
            font-size: 80px;
            color: $acient-color;
            margin-bottom: 12px;
        }
    }
}